.btn {
	--_width: max-content;
	--_height: auto;
	--_font-size: var(--fs-base);
	--_font-weight: 400;
	--_line-height: normal;
	--_color: var(--text-color);
	--_background-color: transparent;
	--_border: 0;
	--_border-radius: 0;
	--_padding-y: 0;
	--_padding-x: 0;

	--_icon-size: 1rem;
	--_icon-color: currentColor;

	--_transition-duration: var(--transition-duration);
	--_transition-type: var(--transition-type);

	--_color-active: var(--primary-color);
	--_background-color-active: transparent;
	--_border-color-active: transparent;
	--_icon-color-active: currentColor;

	width: var(--_width);
	height: var(--_height);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .625rem;

	font-size: var(--_font-size);
	font-weight: var(--_font-weight);
	line-height: var(--_line-height);
	color: var(--_color);
	background-color: var(--_background-color);
	border: var(--_border);
	border-radius: var(--_border-radius);
	padding: var(--_padding-y) var(--_padding-x);
	transition-property: color, background, border, transform;
	transition-duration: var(--_transition-duration);
	transition-timing-function: var(--_transition-type);
	cursor: pointer;
	outline: none;

	.icon {
		width: var(--_icon-size);
		height: var(--_icon-size);
		color: var(--_icon-color);
		flex-shrink: 0;
	}

	&:is(:focus-visible, :active, .is-active) {
		color: var(--_color-active);
		background-color: var(--_background-color-active);
		border-color: var(--_border-color-active);
		transform: scale(.875);

		.icon {
			color: var(--_icon-color-active);
		}
	}
}

.btn-inherit {
	--_width: auto;
	--_font-size: inherit;
	--_font-weight: inherit;
	--_line-height: inherit;
	--_color: inherit;
}

.btn-outline-light {
	--_color: var(--light-color);
	--_border: 1px solid var(--light-color);

	--_color-active: var(--light-color);
	--_border-color-active: var(--light-color);
}

.btn-gradient {
	--_font-weight: 600;
	--_color: var(--dark-color);
	--_color-active: var(--_color);

	background-image: var(--button-gradient);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);

	&[disabled] {
		--_background-color: rgba(var(--primary-350-rgb), .35);
		--_background-color-active: rgba(var(--primary-350-rgb), .35);

		background-image: none;
		backdrop-filter: blur(21px);
		pointer-events: none;
		user-select: none;
	}
}

.btn-base {
	--_height: 2.5rem;
	--_font-size: var(--fs-base);
	
	--_border-radius: 1.5rem;
	--_padding-y: .5rem;
	--_padding-x: 1rem;
}

.btn-sm {
	--_height: 1.5rem;
	--_font-size: .875rem;
	--_border-radius: .75rem;
}

.btn-lg {
	--_height: 3.125rem;
	--_border-radius: .75rem;
	--_padding-y: .25rem;
	--_padding-x: 1rem;

	--_icon-size: 1.5rem;

	gap: .375rem;
}

.btn-xl {
	--_height: 4rem;
	--_border-radius: 1rem;
	--_padding-y: .75rem;
	--_padding-x: 1.25rem;
}