@keyframes pulseAndFade {
	0%, 100% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.8);
		opacity: 0.5;
	}
}

.decoration-container	{
	position: relative;
	z-index: 1;
}

.decoration {
	--_size: 10rem;
	--_color: #644BFF;

	width: var(--_size);
	height: var(--_size);
	background-color: var(--_color);
	border-radius: 50%;
	filter: blur(6.25rem);
	pointer-events: none;
	user-select: none;
	will-change: transform, opacity;
	animation: pulseAndFade 6s ease-in-out infinite;
	position: absolute;
	z-index: -1;

	&-type-1 {
		--_size: 13.75rem;
		--_color: #2767E2;
	}
	
	&-type-2 {
		--_size: 11.25rem;
		--_color: #001BB6;

		filter: blur(10rem);
	}

	&-type-3 {
		--_size: 15rem;
		--_color: #7927E2;
	}

	&-type-4 {
		--_size: 17.5rem;
		--_color: #2743E2;

		filter: blur(15rem);
	}

	&-delay-250 {
		animation-delay: 250ms;
	}
	
	&-delay-500 {
		animation-delay: 500ms;
	}
	
	&-delay-750 {
		animation-delay: 750ms;
	}
	
	&-delay-1000 {
		animation-delay: 1000ms;
	}
	
	&-delay-2000 {
		animation-delay: 2000ms;
	}
	
	&-delay-3000 {
		animation-delay: 3000ms;
	}
	
	&-delay-4000 {
		animation-delay: 4000ms;
	}
}

@for $i from 1 through 20 {
	.top-n#{$i * 10}px {
    top: -#{$i * 10}px;
  }
	
	.bottom-n#{$i * 10}px {
    bottom: -#{$i * 10}px;
  }

  .left-n#{$i * 10}px {
    left: -#{$i * 10}px;
  }

	.right-n#{$i * 10}px {
    right: -#{$i * 10}px;
  }
}