@keyframes pulseAndFade {
	0%, 100% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.8);
		opacity: 0.5;
	}
}

.decoration-container	{
	position: relative;
	z-index: 1;
}

.decoration {
	--_size: 10rem;
	--_color: #644BFF;
	--_blur: blur(6.25rem);
	--_delay: 0ms;

	pointer-events: none;
	user-select: none;
	position: absolute;
	z-index: -1;

	&::after {
		content: '';
		width: var(--_size);
		height: var(--_size);
		display: block;
		background-color: var(--_color);
		border-radius: 50%;
		filter: var(--_blur);
		will-change: transform, opacity;
		animation: pulseAndFade 6s ease-in-out infinite;
		animation-delay: var(--_delay);
	}

	&-type-1 {
		--_size: 13.75rem;
		--_color: #2767E2;
	}
	
	&-type-2 {
		--_size: 11.25rem;
		--_color: #001BB6;
		--_blur: blur(10rem);
	}

	&-type-3 {
		--_size: 15rem;
		--_color: #7927E2;
	}

	&-type-4 {
		--_size: 17.5rem;
		--_color: #2743E2;
		--_blur: blur(15rem);
	}

	&-type-5 {
		--_size: 20rem;
		--_color: #29D8FF;
	}

	&-type-6 {
		--_size: 12.5rem;
		--_color: #00109B;
		--_blur: blur(2.5rem);
	}

	&-type-7 {
		--_size: 13.75rem;
		--_color: #D4D9FF;
		--_blur: blur(7.5rem);
	}

	&-type-8 {
		--_size: 20rem;
		--_color: #2945E5;
	}

	&-type-9 {
		--_size: 15rem;
		--_color: #2945E5;
	}

	&-type-10 {
		--_size: 7.5rem;
		--_color: #29d8ff;
	}

	&-type-11 {
		--_size: 12.5rem;
		--_color: #fff;
		--_blur: blur(2.5rem);
	}

	&-delay-250 {
		--_delay: 250ms;
	}
	
	&-delay-500 {
		--_delay: 500ms;
	}
	
	&-delay-750 {
		--_delay: 750ms;
	}
	
	&-delay-1000 {
		--_delay: 1000ms;
	}
	
	&-delay-2000 {
		--_delay: 2000ms;
	}
	
	&-delay-3000 {
		--_delay: 3000ms;
	}
	
	&-delay-4000 {
		--_delay: 4000ms;
	}
}