.header {
	width: 100%;
	padding-block: 2.5rem 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1080;

	> .container {
		pointer-events: auto;
	}

	&-union {
		width: 1250px;
		height: auto;
		pointer-events: none;
		user-select: none;
		position: absolute;
		bottom: 0;
		left: -570px;
		z-index: -1;

		svg {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
			clip-path: polygon( 46.724% 26.735%,46.724% 26.735%,46.417% 28.527%,46.08% 30.122%,45.727% 31.522%,45.373% 32.729%,45.033% 33.745%,44.721% 34.572%,44.453% 35.212%,44.243% 35.666%,44.107% 35.937%,44.058% 36.027%,0% 36.016%,0% 100%,100% 100%,100% 36.027%,55.022% 36.027%,55.022% 36.016%,55.022% 36.016%,54.97% 35.939%,54.825% 35.703%,54.602% 35.296%,54.318% 34.706%,53.988% 33.924%,53.628% 32.938%,53.254% 31.737%,52.882% 30.31%,52.527% 28.647%,52.206% 26.735%,52.206% 26.735%,52.039% 25.495%,51.888% 24.182%,51.751% 22.808%,51.628% 21.383%,51.516% 19.92%,51.414% 18.43%,51.32% 16.924%,51.233% 15.414%,51.151% 13.911%,51.071% 12.427%,51.071% 12.427%,50.964% 10.507%,50.849% 8.664%,50.725% 6.926%,50.592% 5.32%,50.448% 3.874%,50.292% 2.616%,50.125% 1.573%,49.944% 0.772%,49.749% 0.242%,49.54% 0.009%,49.54% 0.009%,49.322% 0.106%,49.118% 0.535%,48.928% 1.265%,48.752% 2.266%,48.587% 3.509%,48.434% 4.962%,48.29% 6.595%,48.156% 8.38%,48.031% 10.284%,47.913% 12.279%,47.913% 12.279%,47.828% 13.791%,47.739% 15.321%,47.646% 16.857%,47.546% 18.387%,47.438% 19.898%,47.32% 21.378%,47.192% 22.814%,47.05% 24.194%,46.895% 25.505%,46.724% 26.735% );
			backdrop-filter: blur(.25rem);
			filter: drop-shadow(0 -.25rem .25rem rgba(0, 0, 0, .5));
			fill-opacity: .4;
		}
	}

	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: .5rem;

		&-link {
			--_width: 4rem;
			--_height: 4rem;
			--_font-size: var(--fs-2);

			--_icon-size: 2rem;

			flex-shrink: 0;
			flex-direction: column;
			gap: 0;
			transform: initial;

			.text {
				margin-bottom: -1em;
				padding-top: 0rem;
				opacity: 0;
				transition-property: transform, margin, padding, opacity;
				transition-duration: var(--_transition-duration);
				transition-timing-function: var(--_transition-type);
			}

			&.is-active {
				transform: translateY(-1.25rem);

				.text {
					margin-bottom: 0rem;
					padding-top: 1rem;
					opacity: 1;
				}
			}
		}
	}
}