.promotion {

	&-header {
		width: 100%;
		min-height: 2.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--fs-2);
		font-weight: 600;
		text-align: center;
		border-radius: 2.5rem;
		padding: .5rem;
		background: linear-gradient(90deg, #1b44a7 0%, #293173 100%);
		box-shadow: inset 0 0 14px 0 #3f00ff;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 85%;
			height: 100%;
			background-image: linear-gradient(120deg, #004BFF 0%, #00D1FF 30%, #0075FF 70%, #3300FF 100%);
			border-radius: 2.5rem 0 0 2.5rem;
			pointer-events: none;
			user-select: none;
			clip-path: polygon( 0% 50%,0% 50%,0.078% 41.89%,0.304% 34.196%,0.667% 27.022%,1.152% 20.471%,1.749% 14.645%,2.445% 9.647%,3.228% 5.581%,4.085% 2.549%,5.004% 0.654%,5.973% 0%,100% 0%,95.904% 100%,5.973% 100%,5.973% 100%,5.004% 99.346%,4.085% 97.451%,3.228% 94.419%,2.445% 90.353%,1.749% 85.355%,1.152% 79.529%,0.667% 72.978%,0.304% 65.804%,0.078% 58.11%,0% 50% );
			position: absolute;
			top: 0;
			left: 0;
		}

		&-text {
			position: relative;
			z-index: 1;
		}
	}

	&-body {
		max-width: 18.75rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		background-image: url();
		margin: 1rem auto 0;
		position: relative;
		z-index: 1;

		&-bg {
			width: 100%;
			height: 100%;
			display: block;
			background-image: url(../img/promotion/background-svg.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			pointer-events: none;
			user-select: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		&-quantity {
			font-size: var(--fs-4);
			font-weight: 500;
			text-align: center;

			> span {
				font-weight: 700;
				background-image: var(--text-gradient);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&-image {
			position: relative;
			z-index: 10;
		}
	}

	&-steps {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: .5rem 1.5rem;
		margin-top: 1rem;
	}

	&-step {
		width: 100%;
		aspect-ratio: 1 / 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: rgba(var(--light-color-rgb), .4);
		border-radius: 50%;
		box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);

		&-value {
			font-size: var(--h3);
			font-weight: 600;
		}

		&:not(.is-active) {
			.promotion-step-value {
				display: none;
			}
		}

		&.is-active {
			background-image: linear-gradient(110deg, var(--primary-400) 0%, var(--primary-300) 50%, var(--primary-375) 70%, var(--primary-500) 100%);
			border: 4px solid #CFDCFF;
		}
	}

	&-bottom {
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;

		&-button {
			--_width: 100%;

			max-width: 17.5rem;
		}
	}

	&-float {

		.page-article-subtitle {
			max-width: 17.5rem;
		}

		&-gift {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-info {
				white-space: nowrap;
			}

			&-suptitle {
				font-size: var(--fs-3);
				font-weight: 500;
			}

			&-title {
				font-size: var(--h1);
				font-weight: 800;
				background-image: var(--text2-gradient);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.gift-container {
				width: 100%;
				max-width: 300px;
				flex-shrink: 0;
				margin-top: -2.25rem;
				transform: translateX(-1.5rem);
			}
		}

		.gift-bottom {
			margin-inline: auto;
			padding-inline: 0;
			position: relative;
			inset: initial;
			transform: initial;
		}
	}

	&-terms {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .75rem;
		margin-top: 2rem;
		text-align: center;

		&-title {
			font-size: var(--fs-4);
			font-weight: 600;
			margin-bottom: .25rem;
		}
		
		&-timer {
			font-size: var(--fs-6);
			font-weight: 700;
			background-image: var(--text-gradient);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&-text {
			font-size: var(--fs-3);
			color: var(--primary-50);
		}
	}
}