.profile {
	border-radius: 0 0 1rem 1rem;
	padding-bottom: 2rem;
	background-image: 
		url('../img/backgrounds/profile-bg.webp'),
		var(--body-gradient);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	&-nav {
		display: flex;
		align-items: center;
		gap: .75rem;

		&-link {
			--_icon-size: 1.5rem;
		}
	}

	&-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		padding-block: 1.25rem;

		&-start {
			display: grid;
			align-items: flex-start;
			gap: .5rem;
		}
	}

	&-balance {
		display: grid;
		align-items: flex-start;
		text-wrap: nowrap;

		> * {
			mask-size: 100% 100%;
			mask-image: linear-gradient(to left, transparent, black 1rem);
			padding-right: 1rem;
			overflow: hidden;
		}

		&-value {
			font-size: var(--h1);
			font-weight: 700;
		}
	}

	&-share {
		display: flex;
		background-image: var(--block-gradient);
		border-radius: 1rem 0 0 1rem;
		padding: .75rem .5rem .75rem .25rem;
		margin-right: calc((var(--container-offset) + var(--share-width-content, 3rem) - .5rem) * -1);
		transition-property: margin;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-type);

		&.is-open {
			margin-right: calc(var(--container-offset) * -1);

			.profile-share-button {

				.icon {
					transform: rotateY(180deg);
				}
			}
		}

		&-content {
			padding-left: 1rem;
		}

		&-button {
			gap: .25rem;
			transition: initial;

			&:is(:focus-visible, :active, .is-active) {
				transform: initial;
			}

			.icon {
				transform: initial;
				transition-property: transform;
				transition-duration: var(--transition-duration);
				transition-timing-function: var(--transition-type);
			}
		}

		&-link {
			--_height: 100%;
			--_background-color: rgba(var(--primary-200-rgb), .15);
			--_border-radius: .75rem;
			--_padding-y: .5rem;
			--_padding-x: .5rem;

			--_icon-size: 1.125rem;
		}
	}

	&-qr {
		width: calc(60vw - 7.5rem);
		height: calc(60vw - 7.5rem);
		display: grid;
		place-content: center;

		@media (min-width: 400px) {
			width: 7.5rem;
			height: 7.5rem;
		}

		svg {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
		}
	}

	&-card {
		--card-size: 8.25rem;
		--card-padding-y: .75rem;
		--card-padding-x: .75rem;

		width: var(--card-size);
		height: var(--card-size);
		background-image: var(--block-gradient);
		border-radius: .75rem;
		padding: var(--card-padding-y) var(--card-padding-x);
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		gap: .5rem;
		position: relative;
		z-index: 1;

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: .5rem;
		}

		&-title {
			font-size: var(--fs-2);
			font-weight: 500;
		}
		
		&-hint {
			--_i-size: .625rem;
			--_i-color: var(--primary-250);
		}

		&-value {
			font-size: var(--fs-4);
			font-weight: 800;
			text-align: right;
		}

		&-image {
			width: calc(100% - (var(--card-padding-y) * 2));
			height: calc(100% - (var(--card-padding-y) * 2));
			display: block;
			object-fit: contain;
			pointer-events: none;
			user-select: none;
			top: var(--card-padding-y);
			left: var(--card-padding-x);
			position: absolute;
			z-index: -1;
		}

		.progress {
			margin-inline: auto;
		}
	}
}