.steps {

	&-swiper {

		.swiper-slide {
			padding-top: 2.125rem;
			position: relative;

			&:not(:last-child) {
				&::before {
					content: '';
					height: 2px;
					display: block;
					background-color: var(--primary-25);
					pointer-events: none;
					user-select: none;
					top: 1rem;
					left: 0;
					right: -1rem;
					position: absolute;
				}
			}

			&:first-child {

				&::before {
					left: .75rem;
				}
			}
		}

		&-point {
			width: .75rem;
			height: .75rem;
			background-color: var(--primary-25);
			top: .6875rem;
			left: .5rem;

			&,
			&::after {
				display: block;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				position: absolute;
			}

			&::after {
				content: '';
				width: 1.75rem;
				height: 1.75rem;
				background-color: rgba(var(--primary-25-rgb), .25);
				filter: blur(.25rem);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&--decoration {

			.swiper-slide {
				display: flex;
				align-items: center;
				gap: 4px;

				&:not(:last-child) {
					&::after {
						content: '';
						display: block;
						width: 2.25rem;
						height: .875rem;
						margin-top: .5rem;
						background-image: url(../img/backgrounds/union-next.svg);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}
				}
			}

			.steps-card {
				width: 7.5rem;
				clip-path: polygon( 0% 20.399%,0% 20.399%,0.053% 19.282%,0.205% 18.222%,0.448% 17.235%,0.774% 16.332%,1.175% 15.53%,1.643% 14.842%,2.168% 14.282%,2.744% 13.864%,3.361% 13.603%,4.012% 13.513%,4.012% 13.513%,4.426% 13.477%,4.831% 13.368%,5.225% 13.191%,5.604% 12.948%,5.966% 12.641%,6.309% 12.273%,6.629% 11.847%,6.924% 11.365%,7.19% 10.83%,7.426% 10.245%,11.111% -0%,21.855% 11.474%,21.855% 11.474%,22.235% 11.855%,22.626% 12.198%,23.026% 12.502%,23.435% 12.767%,23.852% 12.993%,24.275% 13.179%,24.704% 13.325%,25.138% 13.429%,25.575% 13.492%,26.015% 13.513%,50% 13.513%,92.126% 13.513%,92.126% 13.513%,93.403% 13.69%,94.615% 14.202%,95.745% 15.022%,96.776% 16.121%,97.694% 17.471%,98.481% 19.046%,99.121% 20.817%,99.599% 22.756%,99.897% 24.835%,100% 27.027%,100% 86.486%,100% 86.486%,99.897% 88.678%,99.599% 90.758%,99.121% 92.697%,98.481% 94.467%,97.694% 96.042%,96.776% 97.393%,95.745% 98.492%,94.615% 99.311%,93.403% 99.823%,92.126% 100%,7.874% 100%,7.874% 100%,6.597% 99.823%,5.385% 99.311%,4.255% 98.492%,3.224% 97.393%,2.306% 96.042%,1.519% 94.467%,0.879% 92.697%,0.401% 90.758%,0.103% 88.678%,0% 86.486%,0% 20.399% );
			}
		}
	}

	&-card {
		width: 10rem;
		height: 100%;
		min-height: 4.625rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: .5rem;
		background-image: var(--block2-gradient);
		padding: .875rem .25rem .25rem .75rem;
		clip-path: polygon( 0% 22.725%,0% 22.725%,0.055% 21.231%,0.215% 19.814%,0.47% 18.492%,0.812% 17.285%,1.232% 16.212%,1.723% 15.291%,2.274% 14.542%,2.878% 13.983%,3.525% 13.634%,4.208% 13.514%,4.208% 13.514%,4.592% 13.475%,4.97% 13.361%,5.34% 13.174%,5.699% 12.916%,6.045% 12.589%,6.377% 12.196%,6.691% 11.738%,6.987% 11.218%,7.262% 10.638%,7.514% 10.001%,11.111% 0%,22.484% 12.146%,22.484% 12.146%,22.74% 12.403%,23% 12.633%,23.263% 12.838%,23.531% 13.016%,23.802% 13.167%,24.076% 13.291%,24.352% 13.388%,24.63% 13.458%,24.91% 13.5%,25.191% 13.514%,50% 13.514%,93.827% 13.514%,93.827% 13.514%,94.828% 13.69%,95.778% 14.202%,96.664% 15.022%,97.473% 16.121%,98.192% 17.472%,98.809% 19.046%,99.311% 20.817%,99.685% 22.756%,99.919% 24.835%,100% 27.027%,100% 86.486%,100% 86.486%,99.919% 88.678%,99.685% 90.758%,99.311% 92.697%,98.809% 94.467%,98.192% 96.042%,97.473% 97.393%,96.664% 98.492%,95.778% 99.311%,94.828% 99.823%,93.827% 100%,6.173% 100%,6.173% 100%,5.172% 99.823%,4.222% 99.311%,3.336% 98.492%,2.527% 97.393%,1.808% 96.042%,1.191% 94.467%,0.689% 92.697%,0.315% 90.758%,0.081% 88.678%,0% 86.486%,0% 22.725% );
		
		&-title,
		&-subtitle {
			white-space: nowrap;
			position: absolute;
			left: 1.75rem;
		}

		&-title {
			font-size: var(--fs-2);
			font-weight: 500;
			top: 0;
		}

		&-subtitle {
			font-size: .625rem;
			color: var(--primary-50);
			top: 1.25rem;
		}

		&-gift {

			&-value {
				font-size: var(--fs-6);
				font-weight: 700;
			}

			&-hint {
				font-size: .625rem;
				font-weight: 500;
			}
		}

		&-checkbox {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #434BA4;
			border-radius: .75rem;
			padding: .625rem;

			&-icon {
				--_i-color: #676D9C;
			}

			&.is-checked {
				background-image: var(--block2-gradient);

				.steps-card-checkbox-icon {
					--_i-color: var(--text-color);
				}
			}
		}

		&-picture {
			display: block;
		}

		&-image {
			width: 5rem;
			height: 5rem;
			display: block;
			object-fit: contain;
			position: absolute;
			top: 2rem;
			left: 0;
			transform: rotate(-10deg);
		}
	}
}