.swiper-card {
	overflow: unset;

	.swiper-slide {
		width: auto;
		height: auto;
	}
}

.swiper-banner {
	overflow: unset;

	.swiper-slide {
		transform: scale(.75);
		transform-origin: unset;
		transition-property: transform, transform-origin;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-type);

		&:first-child {
			.banner-card-inner {
				background-image: none;
				background-color: #DE98FF;
			}
		}

		
		&:last-child {
			.banner-card-inner {
				background-image: none;
				background-color: #6FFFFF;
			}
		}
	}

	.swiper-slide-active {
		transform: initial;
	}

	.swiper-slide-prev {
		transform-origin: center right;
	}
	
	.swiper-slide-next {
		transform-origin: center left;
	}
}