.text-underline {
	text-decoration: underline !important;
}

.text-initial {
	text-decoration: initial !important;
}

.text-primary-150 {
	color: var(--primary-150);
}

.success {
	color: var(--success-color);
}

.error {
	color: var(--error-color);
}