<div class="graph-modal">
	<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-gift">
		<div class="graph-modal__content">
			<div class="page-header">
				<button type="button" class="btn js-modal-close page-header-back">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/arrow-left.svg#svg-arrow-left"></use>
						</svg>
					</span>
				</button>

				<h2 class="page-header-title">
					Подарки
				</h2>
			</div>
			<div class="graph-modal__body">
				<div class="gift-item">
					<h3 class="gift-item-title">
						VIP
						СТАТУС
					</h3>
					<p class="gift-item-hint">
						2 мес
					</p>
				</div>
				<button type="button" class="btn btn-xl btn-gradient gift-item-button">
					Забрать
				</button>
			</div>
		</div>
	</div>
</div>