:root {
  // base
  --font-family: "Gilroy", system-ui, -apple-system, sans-serif;
  --content-width: 36rem;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
  // font-size
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;

  --fs-1: .5rem;
  --fs-2: .75rem;
  --fs-3: .875rem;
  --fs-base: 1rem;
  --fs-4: 1.25rem;
  --fs-5: 1.375rem;
  --fs-6: 1.5rem;

  // line-height
  --lh-base: auto;
  --lh-normal: normal;
  --lh-1: 1;
  --lh-2: 1.25;
  --lh-3: 1.5;
  --lh-4: 1.75;
  --lh-5: 2;

  // colors hex
  --primary: #304fff;
  --primary-25: #9BA9FF;
  --primary-50: #99C2FF;
  --primary-100: #71CCFF;
  --primary-150: #65E3FF;
  --primary-200: #51ABFF;
  --primary-250: #66A4FF;
  --primary-300: #00A3FF;
  --primary-350: #6076F5;
  --primary-375: #0075ff;
  --primary-400: #0047FF;
  --primary-500: #4000F8;
  --primary-600: #263DC0;
  --primary-700: #152896;
  --primary-800: #061DA0;
  --primary-900: #000C55;
  --accent: #9E58F8;
  --text-color: #fff;
  --dark-color: #181F43;
  --light-color: #fff;
  --success-color: #ADFFAB;
  --error-color: #FF5353;

  // colors rgb
  --primary-rgb: 48, 79, 255;
  --primary-25-rgb: 155, 169, 255;
  --primary-50-rgb: 153, 194, 255;
  --primary-100-rgb: 113, 204, 255;
  --primary-150-rgb: 101, 227, 255;
  --primary-200-rgb: 81, 171, 255;
  --primary-250-rgb: 102, 164, 255;
  --primary-300-rgb: 0, 163, 255;
  --primary-350-rgb: 96, 118, 245;
  --primary-375-rgb: 0, 117, 255;
  --primary-400-rgb: 0, 71, 255;
  --primary-500-rgb: 64, 0, 248;
  --primary-600-rgb: 38, 61, 192;
  --primary-700-rgb: 21, 40, 150;
  --primary-800-rgb: 6, 29, 160;
  --primary-900-rgb: 0, 12, 85;
  --accent-rgb: 158, 88, 248;
  --body-bg-rgb: 18, 18, 18;
  --text-color-rgb: 255, 255, 255;
  --dark-color-rgb: 24, 31, 67;
  --light-color-rgb: 255, 255, 255;
  --success-color-rgb: 173, 255, 171;
  --error-color-rgb: 255, 83, 83;

  // backgrounds
  --body-bg: #121212;
  --body-gradient: linear-gradient(140deg, var(--primary) 0%, var(--primary-900) 100%);
  --banner-gradient: linear-gradient(180deg, var(--primary-700) 0%, var(--primary-600) 100%);
  --block-gradient: linear-gradient(90deg, rgba(var(--primary-100-rgb), 0.4) 0%, rgba(var(--primary-300-rgb), 0.4) 100%);
  --block2-gradient: linear-gradient(90deg, rgba(var(--primary-100-rgb), 0.4) 0%, rgba(var(--primary-400-rgb), 0.4) 100%);
  --block3-gradient: linear-gradient(90deg, rgba(var(--primary-100-rgb), 1) 0%, rgba(var(--primary-400-rgb), 1) 100%);
  --article-gradient: linear-gradient(135deg, rgba(var(--accent-rgb), .4) 0%, rgba(var(--primary-400-rgb), .4) 100%);
  --button-gradient: linear-gradient(160deg, var(--primary) 0%, var(--primary-100) 50%, var(--primary-300) 100%);

  // transition
  --transition-duration: 200ms;
  --transition-type: ease-in-out;
}
